@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&display=swap');

@font-face {
    font-family: "tiny";
    src: url("fonts/TINY5x3-20.woff2");
    font-weight: 20;
}
@font-face {
    font-family: "tiny";
    src: url("fonts/TINY5x3-40.woff2");
    font-weight: 40;
}
@font-face {
    font-family: "tiny";
    src: url("fonts/TINY5x3-60.woff2");
    font-weight: 60;
}
@font-face {
    font-family: "tiny";
    src: url("fonts/TINY5x3-80.woff2");
    font-weight: 80;
}
@font-face {
    font-family: "tiny";
    src: url("fonts/TINY5x3-100.woff2");
    font-weight: 100;
}
@font-face {
    font-family: "tiny";
    src: url("fonts/TINY5x3-120.woff2");
    font-weight: 120;
}
@font-face {
    font-family: "tiny";
    src: url("fonts/TINY5x3-140.woff2");
    font-weight: 140;
}
@font-face {
    font-family: "tiny";
    src: url("fonts/TINY5x3-160.woff2");
    font-weight: 160;
}
@font-face {
    font-family: "tiny";
    src: url("fonts/TINY5x3-180.woff2");
    font-weight: 180;
}

@font-face {
    font-family: "tiny";
    src: url("fonts/TINY5x3-200.woff2");
    font-weight: 200;
}
@font-face {
    font-family: "tiny";
    src: url("fonts/TINY5x3-220.woff2");
    font-weight: 220;
}
@font-face {
    font-family: "tiny";
    src: url("fonts/TINY5x3-240.woff2");
    font-weight: 240;
}
@font-face {
    font-family: "tiny";
    src: url("fonts/TINY5x3-260.woff2");
    font-weight: 260;
}
@font-face {
    font-family: "tiny";
    src: url("fonts/TINY5x3-280.woff2");
    font-weight: 280;
}
@font-face {
    font-family: "tiny";
    src: url("fonts/TINY5x3-300.woff2");
    font-weight: 300;
}

:root {
    /* --bg: #1A1A1A; */
    --bg: #070707;
    --text1 : #eeeeee;
    --glow: 0 0 2rem 0 rgba(255, 255, 255, 0.059);
    --border: 1px solid #eeeeee61;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
body {
    line-height: 1.6;
    color: var(--text1);
    font-family: 'tiny';
    background-color: var(--bg);
}
   
body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(grain.png);
    opacity: 100%;
    pointer-events: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-inline: 4rem;
    height: 8vh;
    /* padding-left: 1rem; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
}


header h1 {
    font-size: 2rem;
    font-weight: 40;
    font-family: "tiny";
    margin-left: 2rem;
}

header h2 {
    font-size: 2rem;
    font-weight: 40;
    font-family: "tiny";
    margin-left: 2rem;
}

a {
    text-decoration: none;
    color: var(--text1);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 1200px;
    margin-inline: auto;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

footer p {
    font-size: 1.6rem;
    font-weight: 40;
    margin-right: 1rem;
    margin-bottom: 0.4rem;
}

.marquee_wrap {
    white-space: nowrap;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 2.7fr 1fr 2fr 1fr 1fr;
    gap: 0.7rem;
    height: 85vh;
    margin-top: 0.5rem;
    margin-inline: 0.7rem;
  }

.marquee_ticker {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border-block: var(--border);
    border-inline: var(--border);
    border-radius: 7px;
    transition: all 0.1s ease-in-out;
    background-image: url(scanlines3.png);
    background-size: 20%;
}

.marquee_ticker span {
    display: inline-block;
    font-size: 3rem;
    font-weight: 20;
    animation: linear infinite;
    margin-right: 0.07%;
    opacity: 40%;
    filter: drop-shadow(0 0 0rem);
    transition: all 0.1s ease-in-out;
}

.marquee_ticker:hover span {
    opacity: 100%;
    animation-play-state: paused;
    font-weight: 140;
    filter: drop-shadow(0 0 2rem rgba(255, 255, 255, 0.246));

}

.marquee_ticker:hover {
    box-shadow: var(--glow);
}

.ticker_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.7rem;
}

.ticker_1 {
    border-top: var(--border);

}

.ticker_1 span {
    animation-duration: 35s;
    animation-name: marquee_1;
}

.ticker_2 {

}

.ticker_2 span {
    animation-duration: 40s;
    animation-name: marquee_2;
    font-size: 7rem;
}

.ticker_2:hover span {
    font-weight: 120;
}

.ticker_3 {

}

.ticker_3 span {
    animation-duration: 55s;
    animation-name: marquee_1;
    
}

.ticker_4 {
}

.ticker_4 span {
    animation-duration: 60s;
    animation-name: marquee_2;
}

.ticker_5 {

}

.ticker_5 span {
    animation-duration: 65s;
    animation-name: marquee_1;
    font-size: 9rem;
}

.ticker_5:hover span {
    font-weight: 120;
}

.ticker_6 {
}

.ticker_6 span {
    animation-duration: 40s;
    animation-name: marquee_2;
}

.ticker_7 {

}

.ticker_7 span {
    animation-duration: 60s;
    animation-name: marquee_2;
    font-size: 6rem;
}

.ticker_7:hover span {
    font-weight: 120;
}

.ticker_8 {
}

.ticker_8 span {
    animation-duration: 50s;
    animation-name: marquee_1;
}

.ticker_9 {

    z-index: 100000;
}

.ticker_9 span {
    animation-duration: 50s;
    animation-name: marquee_2;
}

@keyframes marquee_1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee_2 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}